header {
    background-color: rgb(231, 132, 45);
    margin: 0%;
    padding: 20px;
    min-height: 70px;
    color: whitesmoke;
}

ul {
    padding-bottom: 1%;
    margin: 0%;
    text-decoration: none;

}

li {
    display: inline;
    padding: 10px;
    float: right;
    text-decoration: none;
}

#main {
    float: left;
    display: inline;
    padding: 10px;
}

body {
    margin: 0%;
    background-color: whitesmoke;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: beige;
}

#logoimg {
    height: 80px;
    width: 200px;
    margin-left: 20%;
    margin-top: -1%;

}

nav {
    text-decoration: none;
}

/* Remove underline for the "HOME" link */
nav a {
    text-decoration: none;

    color: whitesmoke;
}

header .highlight,
header,
.current a {
    color: black;
    font-weight: bold;
}

:hover {
    color: black;
}
#art{
    background-color: bisque;
    margin: 2%;
    text-align: left;
    padding: 10px;
}
h1{
    color: rgb(231, 132, 45);
    

}
h3{
    text-decoration: underline;
}
#cont3{
    text-align: center;
    background-color: bisque;
    margin: 30px;
}
h3{
    color:rgb(231, 132, 45) ;
}
#img11{
    border-radius: 25%;
}
#box1{
    text-align: center;
    display: inline-block;
    margin: 10px;
    padding: 20px;
    color: rgb(111, 70, 19);
    border-radius: 25%;

}
#img11{
    height: 300px;
}
footer {
    background-color: rgb(231, 132, 45);
    /* Set your desired background color */
    color: whitesmoke;
    text-align: center;
    /* Set your desired text color */
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

